@charset "UTF-8";

h2::before, h3::before, h4::before, h5::before, h6::before {
    content: none
}
.page-about-sim {
    color: #333;
    line-height: 1.448;
}
.section-introduce {
    margin-bottom: 56px;
}
.sim-title {
    text-align: center;
    margin-bottom: 56px;
}
.sim-title h3 {
    font-size: 40px;
    line-height: 1.375;
    font-weight: bold;
    margin-bottom: 16px;
    color: #1F58A6;
    text-align: center;
}
.sim-title p {
    font-size: 20px;
    line-height: 1.448;
}
.introduce-desc {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 1.6667;
    font-weight: 500;
}

.sim-heading {
    text-align: center;
    margin-bottom: 40px;
}
.sim-heading h2 {
    font-size: 56px;
    line-height: 1.448;
    margin-bottom: 16px;
    text-align: center;
    color: #1F58A6;
}
.sim-heading p {
    font-size: 32px;
    line-height: 1.448;
    color: #1F58A6;
    font-weight: bold;
}

.section-plan {
    padding: 72px 0;
    background-color: #EFF4FF;
    position: relative;
}
.plan-decor {
    position: absolute;
    bottom: 0;
    right: 0;
}
.plan-list-top {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    margin-bottom: 48px;
}

.plan-item {
    width: 100%;
    border-radius: 14px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #1F58A6;
}

.plan-title {
    width: 100%;
    background-color: #1F58A6;
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 64px;
    padding: 6px 0;
}
.plan-title .title-big {
    font-size: 32px;
    line-height: 1.448;
    color: #fff;
    font-weight: bold;
    margin-right: 8px;
}
.plan-title .title-big span{
    font-size: 24px;
    color: #fff;
}
.plan-title .title-small {
    font-size: 16px;
    line-height: 1.448;
    color: #fff;
}

.plan-content {
    padding: 25px 58px;
}
.plan-row {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.plan-tag {
    font-size: 20px;
    line-height: 28.96px;
    width: 97px;
    height: 32px;
    color: #fff;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: #7093E0;
    margin-right: 16px;
    border-radius: 14px;
}
.plan-tag span{
    font-size: 16px;
    line-height: 23.17px;
}
.plan-tag.medium {
    background-color: #5773B2;
}
.plan-tag.big {
    background-color: #1B45A0;
}

.plan-price {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 4px;
    color: #333;
    position: relative;
}
.plan-price .number {
    font-size: 28px;
    line-height: 1.448;
    font-weight: bold;
}
.plan-price .unit {
    font-size: 18px;
    line-height: 1.448;
    font-weight: bold;
}
.plan-price .note {
    font-size: 16px;
}
.plan-content.bottom {
    padding-left: 75px;
    padding-top: 55px;
}
.plan-content.bottom .plan-row{
    margin-bottom: 60px;
}
.plan-content.bottom .plan-row:last-child{
    margin-bottom: 0;
}

.plan-tag.bottom {
    margin-right: 24px;
}
.plan-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: #000;
    font-weight: bold;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #E5E5E5;
    margin-right: 16px;
}
.plan-call {
    font-size: 20px;
    font-weight: 500;
    width: 195px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    background-color: #F67B00;
    color: #fff;
    margin-right: 16px;
}
.plan-call.outline {
    background-color: #fff;
    border: 1px solid #F67B00;
    color: #F67B00;
}

.plan-price .sale {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    line-height: 1.448;
    text-decoration: underline;
    color: #E31F73;
    transform: translateY(-100%);
}
.plan-line {
    position: relative;
    height: 200px;
    width: 24px;
    margin-right: 16px;
}
.plan-line::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    content: "";
    width: 2px;
    height: 100%;
    background-color: #333;
}
.plan-line span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
}
.plan-line span:nth-child(2) {
    top: 50%;
}
.plan-line span:last-child {
    top: 100%;
}

.plan-price-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 240px;
}
.plan-price-item {
    display: flex;
    align-items: baseline;
}

.plan-btn {
    margin: 0 auto;
    margin-top: 56px;
    background-color: #1F58A6;
    color: #fff;
}

.section-charge {
    padding: 77px 0;
}
.section-charge .introduce-desc {
    margin-bottom: 56px;
}
.charge-title {
    width: 100%;
    background-color: #EFF4FF;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    color: #1F58A6;
}
.charge-title span {
    width: 78px;
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: DIN Alternate;
    font-weight: bold;
    font-size: 40px;
    color: #fff;
    background-color: #1F58A6;
    margin-right: 32px;
}
.charge-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
}
.charge-message {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 1.448;
    padding: 11px 16px;
    background-color: #E31F7333;
    border-radius: 14px;
    position: relative;
}
.charge-message::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='21' viewBox='0 0 18 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 10.5L0.749999 20.4593L0.75 0.540707L18 10.5Z' fill='%23F9D2E3'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}
.charge-desc {
    font-size: 24px;
    line-height: 1.6667;
    font-weight: 500;
    max-width: 447px;
}
.charge-row1 {
    margin-bottom: 64px;
}
.charge-row2 {
    margin-bottom: 48px;
}
.charge-row4 .charge-message{
    text-align: end;
}
.charge-app {
    margin-bottom: 64px;
}
.app-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
}
.app-title span {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background-color: #1F58A6;
    padding: 17px 40px;
    max-width: 463px;
    margin: 0 auto;
    border-radius: 28px;
}
.app-title .line {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    top: 50%;
    background-color: #1F58A6;
    z-index: -1;
}
.app-row {
    display: flex;
    justify-content: space-between;
}
.app-item {
    max-width: 320px;
}
.app-img {
    margin: 0 auto;
    margin-bottom: 16px;
}
.app-img1 {
    max-width: 230px;
}
.app-img2 {
    max-width: 128px;
}
.app-img3 {
    max-width: 166px;
}
.app-desc {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}
.app-note {
    font-size: 16px;
}

.charge-img-group {
    position: relative;
    display: flex;
}
.charge-img-group .charge-img {
    width: 220px;
    height: 220px;
}
.charge-img-group .charge-img:last-child {
    margin-top: 65px;
    margin-left: -65px;
}

@media screen and (max-width: 1024px) {
    .section-introduce {
        margin-bottom: 5.625vw;
    }
    .sim-title {
        margin-bottom: 4.375vw;
    }
    .sim-title h3 {
        font-size: max(3.125vw,16px);
        margin-bottom: 1.25vw;
    }
    .sim-title p {
        font-size: max(1.5625vw,12px);
    }
    .introduce-desc {
        margin-bottom: 1.875vw;
        font-size: max(1.875vw,14px);
    }

    .sim-heading {
        margin-bottom: max(3.125vw,16px);
    }
    .sim-heading h2 {
        font-size: max(4.375vw,18px);
        margin-bottom: 1.25vw;
    }
    .sim-heading p {
        font-size: max(2.5vw,14px);
    }
    
    .section-plan {
        padding: 5.625vw 0;
        background-color: #EFF4FF;
        position: relative;
    }
    .plan-decor {
        width: 25.54vw;
    }
    .plan-list-top {
        flex-direction: column;
        gap: 3.75vw;
        margin-bottom: 3.75vw;
    }

    .plan-title {
        height: auto;
    }
    .plan-title .title-big {
        font-size: max(2.5vw,16px);
        margin-right: 0.625vw;
    }
    .plan-title .title-big span{
        font-size: max(1.875vw,14px);
    }
    .plan-title .title-small {
        font-size: max(1.25vw,12px);
    }

    .plan-content {
        padding: 1.953125vw 4.53125vw;
    }
    .plan-row {
        margin-bottom: 2.546875vw;
    }

    .plan-tag {
        width: 60px;
        height: 26px;
        font-size: 16px;
        line-height: 26px;
        margin-right: 1.625vw;
    }
    .plan-tag span{
        font-size: 14px;
    }
    
    .plan-price {
        display: flex;
        justify-content: center;
        align-items: baseline;
        gap: 0.3125vw;
        color: #333;
        position: relative;
    }
    .plan-price .number {
        font-size: max(2.1875vw,20px);
    }
    .plan-price .unit {
        font-size: max(1.40625vw,14px);
    }
    .plan-price .note {
        font-size: max(1.25vw,12px);
    }
    .plan-content.bottom {
        padding: 2.953125vw 4.53125vw;
    }
    .plan-content.bottom .plan-row{
        margin-bottom: 8.6875vw;
    }
    .plan-tag.bottom {
        margin-right: 1.625vw;
    }
    .plan-plus {
        font-size: 2.1875vw;
        width: 3.75vw;
        height: 3.75vw;
        margin-right: 1.25vw;
    }
    .plan-call {
        font-size: max(1.5625vw,10px);
        width: 15.234375vw;
        height: 2.5vw;
        margin-right: 1.25vw;
    }

    .plan-price .sale {
        font-size: max(1.5625vw,12px);
    }
    .plan-line {
        height: 15.625vw;
        width: max(1.875vw,14px);
        margin-right: 1.25vw;
    }
    .plan-line::before {
        width: 0.15625vw;
    }
    .plan-line span {
        height: 0.15625vw;
        background-color: #333;
    }

    .plan-price-list {
        height: 18.75vw;
    }

    .plan-btn {
        margin-top: 6.375vw;
    }

    .section-charge {
        padding: 6.125vw 0;
    }
    .section-charge .introduce-desc {
        margin-bottom: 5.375vw;
    }
    .charge-title {
        margin-bottom: 3.125vw;
        font-size: max(2.5vw,12px);
    }
    .charge-title span {
        width: 6.125vw;
        height: 6.125vw;
        font-size: max(3.125vw,16px);
        margin-right: 2.5vw;
    }
    .charge-row {
        gap: 2.5vw;
    }
    .charge-message {
        font-size: max(1.5625vw,9px);
        padding: 0.6875vw 1.25vw;
    }
    .charge-message::after {
        width: 1.8125vw;
        height: 1.8125vw;
        right: -1.25vw;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }
    .next-icon {
        width: 3.125vw;
    }
    .charge-img {
        width: 9.61vw;
    }
    .charge-desc {
        font-size: max(1.875vw,10px);
        max-width: 35.15625vw;
    }
    .charge-row1 {
        margin-bottom: 5vw;
    }
    .charge-row2 {
        margin-bottom: 3.75vw;
    }
    .charge-app {
        margin-bottom: 5vw;
    }
    .app-title {
        margin-bottom: 3.75vw;
    }
    .app-title span {
        font-size: max(1.875vw,12px);
        padding: 1.0625vw 2.5vw;
        max-width: unset;
    }
    .app-item {
        max-width: 26vw;
    }
    .app-img {
        margin: 0 auto;
        margin-bottom: 1.25vw;
    }
    .app-img1 {
        max-width: 18.125vw;
    }
    .app-img2 {
        max-width: 10vw;
    }
    .app-img3 {
        max-width: 13.03125vw;
    }
    .app-desc {
        font-size: max(1.5625vw,10px);
        margin-bottom: 1.25vw;
    }
    .app-note {
        font-size: max(1.25vw,9px);
    }
    
    .charge-img-group {
        position: relative;
        display: flex;
    }
    .charge-img-group .charge-img {
        width: 17.1875vw;
        height: 17.1875vw;
    }
    .charge-img-group .charge-img:last-child {
        margin-top: 5.078125vw;
        margin-left: -5.078125vw;
    }

    
}

@media screen and (max-width: 768px) {
    .plan-content.bottom {
        padding: 20px 10px;
    }
    .plan-plus {
       display: none;
    }
    .plan-call {
        width: 19vw;
        height: 5.5vw;
        font-size: 9px;
    }

    .plan-price .sale {
        font-size: max(1.5625vw,10px);
    }
    .plan-line {
        height: 32vw;
        width: 5px;
        margin-right: 1.25vw;
    }
    .plan-line::before {
        width: 0.15625vw;
    }
    .plan-line span {
        height: 0.15625vw;
        background-color: #333;
    }
    .plan-content.bottom .number {
        font-size: 16px;
        white-space: nowrap;
    }
    .plan-content.bottom .unit {
        font-size: 12px;
        white-space: nowrap;

    }
    .plan-content.bottom .note {
        font-size: 9px;
        white-space: nowrap;
    }

    .plan-price-list {
        height: 36vw;
    }

    .plan-decor {
        display: none;
    }
}