@charset "UTF-8";

/*contact*/

.lead-text {
  margin: 0 0 30px;
  font-size: 14px;
}

.lead-text p:not(:last-child) {
  margin: 0 0 10px;
}

.contact-list {
  display: flex;
  flex-wrap: wrap;
}

.contact-list > li {
  display: flex;
  margin: 20px 20px 0 0;
  width: calc((100% - 40px) / 3);
}

.contact-list > li:nth-child(-n+3) {
  margin-top: 0;
}

.contact-list > li:nth-child(3n) {
  margin-right: 0;
}

.contact-list > li a {
  position: relative;
  display: flex;
  width: 100%;
  padding: 30px 40px 30px 20px;
  align-items: center;
  border: solid 1px #1f58a7;
  box-sizing: border-box;
}

.contact-list > li a::after {
  display: block;
  position: absolute;
  right: 20px;
  top: 50%;
  width: 10px;
  height: 10px;
  border-top: solid 1px #1f58a7;
  border-right: solid 1px #1f58a7;
  content: "";
  transform: rotate(45deg) translateY(-50%);
}

@media screen and (max-width: 1180px) {
  /* 1024px以下に適用されるCSS（タブレット用） */


}

@media screen and (max-width: 599px) {
  /* 599px以下に適用されるCSS（スマホ用） */

  .contact-list {
    display: block;
  }

  .contact-list > li {
    margin: 0 0 20px;
    width: 100%;
  }

  .contact-list > li:last-child {
    margin: 0;
  }

  .contact-list > li a {
    padding: 20px 40px 20px 20px;
  }

}
