@charset "UTF-8";

/*guide*/
.guide_article {
  padding: 9.1%;
  background: #fff;
}

.return_btn {
  display: block;
  margin: 80px auto 0;
  padding: 10px 20px;
  max-width: 400px;
  text-align: center;
  background: #1f58a7;
  color: #fff;
  box-sizing: border-box;
}

.return_btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1180px) {
  /* 1024px以下に適用されるCSS（タブレット用） */


}

@media screen and (max-width: 599px) {
  /* 599px以下に適用されるCSS（スマホ用） */

  /*guide*/


}