@charset "UTF-8";

/*plan*/
.img_plan{
  padding-bottom: calc(100%*250/1186);
  background: url(../img/plan_bg.png);
}

.h3_1{
  color: #1f58a7;
  font-size: 30px;
  text-align: center;
  font-weight: normal;
}

.h3_1 span{
  color: #1f58a7;
}

.h3_1::before{
  content: none;
}

.h4_1{
  font-size: 16px;
  color: white;
  margin-bottom: 10px;
  text-align: center;
}

.h4_1::before{
  content: none;
}

.price span , .price{
  color:#1f58a7;
}

.plan_hr{
  border-color: #1f58a7;
}

.plan_lists{
  flex-wrap: wrap;
}

.plan_lists:after {
    content: "";
    display: block;
    width:460px;
    height: 0;
}

.plan_lists li{
  background-color: white;
}

.setplan_wrap {
  margin: 30px 15px 0;
  padding: 20px;
  background: #fff;
}

.setplan_price_wrap {
  display: flex;
  justify-content: space-between;
}

.setplan_price_wrap .price_list {
  margin: 0;
}

.setplan_price_wrap .price_list .GB {
  width: 120px;
}

.option .plan_lists li{
  padding-bottom: 20px;
}

.option h3 {
  text-align: left;
}

.option_lists {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.option_lists li {
  width: calc((100% - 30px) / 3);
  text-align: center;
  background-color: #5893ce;
  padding: 10px 0;
  margin:0px 4px 10px;
}

.option_lists img{
  display: block;
  margin:0 auto 10px auto;
}

.option_lists p{
  font-size: 16px;
  color: white;
}

.option_lists p span{
  font-size: 14px;
  color: white;
}

.option_list {
  justify-content: flex-start;
  margin-left: 5px;
}

.sub{
  font-size: 16px;
  margin-left: 20px;
  margin-top: 20px;
}

.option_list2{
  padding: 0!important;
  margin-top: 20px;
}

.option_list2 table{
  height: 51px;
}

.option_list2 td{
  width: 134px;
  text-align: center;
}

.name{
  height: 51px;
  width: 174px;
  color: white;
  background-color:#5893ce;
}

.price_reason img{
  width: 100%;
  height: auto;
  margin:0 auto;
  display: block;
}

.price_reason p {
    font-size: 16px;
    padding: 40px 0 20px 0;
}

.attention_inner{
  width: 800px;
  background-color: #dedede;
  padding: 20px;
  margin:0 auto;
}

.attention li{
  list-style-type: disc;
  margin-left: 24px;
  margin-top: 10px;
  font-size: 16px;
}

.attention_inner h4{
  font-weight: bold;
}

.mgr-10{
  margin-right: 10px;
}

@media screen and (max-width: 1180px) {
  /* 1024px以下に適用されるCSS（タブレット用） */
  .h3_1{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .h3_1 span {
    font-size: 16px;
  }

  .img_plan {
    padding-bottom: calc(100%*375/1186);
    background-size: cover!important;
  }

  .plan_lists{
    display: flex;
    justify-content: space-around;
  }

  .plan_lists:after {
      content: "";
      display: block;
      width: 48%;
      height: 0;
  }

  .plan_lists > li{
    width: 48%;
  }

  .setplan_wrap {
    margin: 0;
    padding: 20px 3vw;
  }

  .setplan_price_wrap {
    display: block;
  }

  .setplan_price_wrap .price_list {
    margin: 0 auto;
  }

  .setplan_price_wrap .price_list .GB {
    width: 80px;
  }

  .sub{
    margin-left: 0;
  }

  .attention_inner{
    width: 100%;
    box-sizing: border-box;
  }

  .option_lists{
    max-width: 500px;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .option_lists li{
    width: calc((100% - 16px ) / 2);
  }

  .option .plan_lists li{
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 599px) {
  /* 599px以下に適用されるCSS（スマホ用） */

  .plan_lists{
    display: block;
  }

  .plan_lists > li{
    width: auto;
  }

}
