@charset "UTF-8";

/*store*/
.img_oem {
  background: url(../img/fc_bg.png);
}

.store_anchor_head {
  padding: 10px 20px;
  background: #1f58a7;
  color: #fff;
  border-radius: 5px 5px 0 0;
}

.store_anchor {
  margin: 0 0 50px;
  padding: 20px;
  background: #fff;
}

.store_anchor ul {
  display: flex;
  flex-wrap: wrap;
  margin: -20px 0 0 -20px;
}

.store_anchor ul > li {
  margin: 20px 0 0 20px;
}

.store_anchor ul > li a {
  padding: 5px 10px;
  background: #e8e8e8;
  border-radius: 3px;
}

.store_anchor ul > li a:hover {
  opacity: 0.6;
}

.store_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.store_list > li {
  display: flex;
  width: calc((100% - 20px) / 2);
  margin: 0 0 20px;
}

.store_list > li .info-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  background: #fff;
  box-sizing: border-box;
}

.store_list > li .info-wrap:hover {
  opacity: 0.6;
}

.store_list > li .info-wrap .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  box-sizing: border-box;
}

.store_list > li .info-wrap .image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 3 / 2;
}

.store_list > li .info-wrap .text-wrap {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 20px;
  box-sizing: border-box;
}

.store_list > li .info-wrap .text-wrap .text h2 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  background: none;
  color: #303030;
}

.store_list > li .info-wrap .text-wrap .text .address {
  margin: 10px 0 0;
}

.store_list > li .info-wrap .tagList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.store_list > li .info-wrap .tagList > li {
  margin: 10px 10px 0 0;
  padding: 1px 4px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #bd1b1b;
  background: #bd1b1b;
  color: #fff;
}

/*store information*/
.store_information_wrap {
  display: flex;
}

.store_information_wrap .image {
  width: 50%;
  line-height: 1;
  font-size: 0;
}

.store_information_wrap .image img {
  width: 100%;
  height: auto;
}

.store_information_wrap .image img.noimage {
  padding: 20px;
  box-sizing: border-box;
  background: #fff;
}

.store_information_wrap .information {
  width: 50%;
  padding: 10px 0 0 50px;
  box-sizing: border-box;
}

.store_information_wrap .information .info_list dt {
  position: relative;
  margin: 0 0 10px;
  padding: 0 0 5px;
  border-bottom: 2px solid #1f58a7;
  font-weight: bold;
  float: left;
}

.store_information_wrap .information .info_list dt i {
  margin: 0 5px 0 0;
}

.store_information_wrap .information .info_list dt i.fa-phone {
  transform: rotate(90deg);
}

.store_information_wrap .information .info_list dd {
  margin: 0 0 30px;
  clear: both;
}

.store_information_wrap .information .info_list dd:last-child {
  margin: 0;
}

.store_information_wrap .information .info_list dd a[href^="tel:"] {
  pointer-events: none;
}

.store_information_wrap .information .sns_list {
  display: flex;
  margin: 30px 0 0;
}

.store_information_wrap .information .sns_list > li {
  margin: 0 20px 0 0;
}

.store_information_wrap .information .sns_list > li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5em;
  height: 2.5em;
  border-radius: 5px;
}

.store_information_wrap .information .sns_list > li a:hover {
  opacity: 0.6;
}

.store_information_wrap .information .sns_list > li a.ig {
  background: #CF2E92;
}

.store_information_wrap .information .sns_list > li a.tw {
  background: #1DA1F2;
}

.store_information_wrap .information .sns_list > li a.fb {
  background: #1877f2;
}

.store_information_wrap .information .sns_list > li a i {
  color: #fff;
  font-size: 1.5em;
}

.return_btn {
  display: block;
  margin: 80px auto 0;
  padding: 10px 20px;
  max-width: 400px;
  text-align: center;
  background: #1f58a7;
  color: #fff;
  box-sizing: border-box;
}

.return_btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1180px) {
  /* 1024px以下に適用されるCSS（タブレット用） */


}

@media screen and (max-width: 599px) {
  /* 599px以下に適用されるCSS（スマホ用） */

  /*store*/
  .store_list > li {
    width: 100%;
  }

  /*store information*/
  .store_information_wrap {
    display: block;
  }

  .store_information_wrap .image {
    width: auto;
  }

  .store_information_wrap .information {
    width: auto;
    padding: 30px 0 0;
  }

  .store_information_wrap .information .info_list dd a[href^="tel:"] {
    pointer-events: auto;
  }

}
